html {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px; 
}

body {
    width: 30em;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.2em;
}

li {
    font-size: 1.7em;
}

header, footer {
    background-color:  teal;
    height: 10em;
    padding: 2em;
}

h1, footer p {
    margin: -70px;
}

h1 {
    text-align: center;
    padding: 0.5em 0;
}

main {
    padding: 2em;
}

main p, main li {
    line-height: 2;
}

img {
    float: right;
    margin: 1.2em 2em;
}